# ** Theory Questions:**

1. What is the difference between a function and a method in Python?



*   Function is a block of code that performs a specific task and is defined using the def keyword.


*   Method is a function that belongs to an object (usually a class instance).

In [ ]:
def greet():  # function
    print("Hello")

name = "Aman"
print(name.upper())  # method

AMAN

2. Explain the concept of function arguments and parameters in Python.

*   Parameters are variables listed in the function definition.
*   Arguments are actual values passed to the function.

In [ ]:
def add(a, b):  # a and b are parameters
    return a + b

add(5, 10)  # 5 and 10 are arguments

15

3. What are the different ways to define and call a function in Python?

*  Defining using def or lambda

*   Calling by using the function name followed by parenthese

In [ ]:
# Using def
def square(x):
    return x * x
print(square(4))

# Using lambda
square = lambda x: x * x
print(square(4))

16
16

4. What is the purpose of the return statement in a Python function?

*   It sends the result back to the caller and ends the function.

In [ ]:
def add(a, b):
    return a + b

result = add(3, 7)
print(result)

10

5. What are iterators in Python and how do they differ from iterables?

*   Iterable: Can return an iterator (e.g., list, string).
*  Iterator: Has __next__() and __iter__() methods.

In [ ]:
lst = [1, 2, 3]  # iterable
it = iter(lst)   # iterator
print(next(it))  # 1

1

6. Explain the concept of generators in Python and how they are defined.

*  Generators are iterators that yield values one at a time using the yield keyword.

In [ ]:
def count_up_to(n):
    i = 1
    while i <= n:
        yield i
        i += 1

for num in count_up_to(3):
    print(num)

1
2
3

7. What are the advantages of using generators over regular functions?

*  Memory Efficient: Don't store all values in memory.


*  Lazy Evaluation: Generate values only when needed.

In [ ]:
def gen_nums():
    for i in range(1000000):
        yield i

8. What is a lambda function in Python and when is it typically used?

*   Anonymous function defined using lambda.
*   Used in one-liners or with functions like map(), filter(), etc.

In [ ]:
square = lambda x: x ** 2
print(square(5))

25

9. Explain the purpose and usage of the map() function in Python.

*   Applies a function to each item in an iterable.

In [ ]:
nums = [1, 2, 3, 4]
squared = list(map(lambda x: x ** 2, nums))
print(squared)

[1, 4, 9, 16]

10. What is the difference between map(), reduce(), and filter() functions in Python?

| Function   | Purpose                                     | Example                                     |
| ---------- | ------------------------------------------- | ------------------------------------------- |
| `map()`    | Applies function to all elements            | `map(lambda x: x*2, [1,2,3])` → `[2,4,6]`   |
| `filter()` | Filters elements based on condition         | `filter(lambda x: x%2==0, [1,2,3])` → `[2]` |
| `reduce()` | Reduces to single value (needs `functools`) | `reduce(lambda x, y: x+y, [1,2,3])` → `6`   |

11. . Using pen & Paper write the internal mechanism for sum operation using  reduce function on this given

list:[47,11,42,13];

   To perform the sum operation using the reduce() function, we simulate how the function works internally. The reduce() function from the functools module applies a binary function cumulatively to the elements of a list.

In [ ]:
reduce(function, iterable)

In [ ]:
reduce(lambda x, y: x + y, [47, 11, 42, 13])

Step-by-Step Simulation on Paper

  Initial list: [47, 11, 42, 13]

    First call:

    x = 47, y = 11
    result = x + y = 47 + 11 = 58

    Second call:

    x = result from previous = 58, y = 42
    result = 58 + 42 = 100

    Third call:

    x = result from previous = 100, y = 13
    result = 100 + 13 = 113

In [ ]:
reduce(lambda x, y: x + y, [47, 11, 42, 13]) = 113

# **Practical Questions:**

---

1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in the list.

In [ ]:
def sum_even_numbers(numbers):
    return sum(num for num in numbers if num % 2 == 0)

In [ ]:
sum_even_numbers([1, 2, 3, 4, 5, 6])

12

2. Create a Python function that accepts a string and returns the reverse of that string.

In [ ]:
def reverse_string(s):
    return s[::-1]

# Example:
print(reverse_string("Hello"))

olleH

3. Implement a Python function that takes a list of integers and returns a new list containing the squares of each number.

In [ ]:
def square_list(numbers):
    return [num ** 2 for num in numbers]

# Example:
print(square_list([1, 2, 3, 4]))

[1, 4, 9, 16]

4. Write a Python function that checks if a given number is prime or not from 1 to 200.

In [ ]:
def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Primes from 1 to 200:
prime_numbers = [i for i in range(1, 201) if is_prime(i)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of terms.

In [ ]:
def fibonacci(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

# Example usage:
for num in fibonacci(10):
    print(num)

0
1
1
2
3
5
8
13
21
34

6. Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [ ]:
def powers_of_two(max_exponent):
    for i in range(max_exponent + 1):
        yield 2 ** i

# Example:
print(list(powers_of_two(5)))

[1, 2, 4, 8, 16, 32]

7. Implement a generator function that reads a file line by line and yields each line as a string.

Assuming sample.txt contains:

In [ ]:
Hello
World
Python

In [ ]:
def read_file_lines(filename):
    with open(filename, 'r') as file:
        for line in file:
            yield line.strip()

# Example:
for line in read_file_lines("sample.txt"):
    print(line)

In [ ]:
output :
Hello
World
Python

8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [ ]:
tuples = [(1, 3), (2, 1), (4, 2)]
sorted_tuples = sorted(tuples, key=lambda x: x[1])
print(sorted_tuples)

[(2, 1), (4, 2), (1, 3)]

9. Write a Python program that uses map() to convert a list of temperatures from Celsius to Fahrenheit.

In [ ]:
celsius = [0, 20, 30, 40]
fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))
print(fahrenheit)

[32.0, 68.0, 86.0, 104.0]

10. Create a Python program that uses filter() to remove all the vowels from a given string.

In [ ]:
def remove_vowels(s):
    vowels = 'aeiouAEIOU'
    result = filter(lambda ch: ch not in vowels, s)
    for ch in result:
        print(ch, end='')

# Example
text = "Hello World"
remove_vowels(text)

Hll Wrld

11) Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

In [ ]:
from tabulate import tabulate

# Table data
data = [
    ["34587", "Learning Python, Mark Lutz", 4, 40.95],
    ["98762", "Programming Python, Mark Lutz", 5, 56.80],
    ["77226", "Head First Python, Paul Barry", 3, 32.95],
    ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]
]

# Column headers
headers = ["Order Number", "Book Title and Author", "Quantity", "Price per Item"]

# Print the table
print(tabulate(data, headers=headers, tablefmt="grid"))

+----------------+------------------------------------+------------+------------------+
|   Order Number | Book Title and Author              |   Quantity |   Price per Item |
+================+====================================+============+==================+
|          34587 | Learning Python, Mark Lutz         |          4 |            40.95 |
+----------------+------------------------------------+------------+------------------+
|          98762 | Programming Python, Mark Lutz      |          5 |            56.8  |
+----------------+------------------------------------+------------+------------------+
|          77226 | Head First Python, Paul Barry      |          3 |            32.95 |
+----------------+------------------------------------+------------+------------------+
|          88112 | Einführung in Python3, Bernd Klein |          3 |            24.99 |
+----------------+------------------------------------+------------+------------------+

Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the
product of the price per item and the quantity. The product should be increased by 10,- € if the value of the
order is smaller than 100,00 €.

Write a Python program using lambda and map.

In [ ]:
# Data from the bookshop
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [98762, "Programming Python, Mark Lutz", 5, 56.80],
    [77226, "Head First Python, Paul Barry", 3, 32.95],
    [88112, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

# Function to compute the final price (with the €10 rule)
result = list(map(lambda order: (order[0], round(order[2] * order[3] + (10 if order[2] * order[3] < 100 else 0), 2)), orders))

# Output the result
print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85), (88112, 84.97)]